/.idea
/.vscode
/vendor
/html
/.env
/.env.old
/*.sql
/*.log
/*.csv
/composer.phar


/public/cmsmagazinedf7571d96c12572dd3308b5180e3c0b5.txt
docker/nginx/default.conf
docker/certbot
docker/node
data/mysql/*
data/memcached/*
docker/nginx/conf/default.conf
docker/nginx/conf/nginx.conf
docker/nginx/conf/ssl/*

init-letsencrypt.sh
