/bitrix
!/bitrix/.settings.php
!/bitrix/php_interface/dbconn.php
/upload
/.htpasswd
/.htaccess
/robots.txt
/*/*.log
/yandex*.htm*
/google*.htm*
/sitemap_*
/sitemap.xml
/*.csv
/*.txt
/*.xls
/*.xlsx
/*.tar.gz
/adminer*
/restore.php
/bitrixsetup.php
/smp.php
/local/cache_pug
/local/modules
!/local/modules/iqdev.options/
/assets

/tmp
/1.php
/bitrix.old
/rules/sect_inc.php
/tmp.php